.csstest {}

.csstest body a {
    color: #ffffff;
    text-decoration: none;
}

.csstest .card {

    height: 400px;
    width: 300px;

    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.csstest .card:hover .card-front {
    transform: rotateX(-180deg);
}

.csstest .card:hover .card-back {
    transform: rotateX(0deg);
}

.csstest .card-front {
    height: 100%;
    width: 100%;

    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.csstest .card-back {
    height: 100%;
    width: 100%;
    position: absolute;

    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: #ffffff;
    text-align: center;
}

.csstest .card-back h2 {
    margin: 60% auto 35% auto;
    font-size: 26px;
}

.csstest .card-back h2 span {
    font-size: 20px;
}

.csstest .card-back a {
    height: 20px;
    width: 20px;
    padding: 5px 5px;
    border-radius: 4px;
    line-height: 20px;
}

.csstest .card-back a:hover {
    color: #000000;
    background-color: #fff;
}

.galaryyy {}

.galaryyy body {
    background: #f4f4f4;
}

.galaryyy .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}


/* Path: agriculture_frontend\src\styles\Home.css */

.agryblogs{}

.agryblogs .home-testimonial {
    background-color: #ffffff;
    width: 100%;
}

.agryblogs .home-testimonial-bottom {
    margin-top: 30px;
}

.agryblogs .home-testimonial h3 {
    color: var(--orange);
    text-transform: uppercase
}

.agryblogs .home-testimonial h2 {
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: 700
}


.agryblogs .testimonial-inner .tour-desc {
    border-radius: 5px;
    padding: 40px;
}

.agryblogs .testimonial-inner .tour-item {
    background-color: #73976c1f;
    margin-bottom: 20px;
    border-radius: 10px;
}

.agryblogs .color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.agryblogs .testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.agryblogs .link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #000000
}

.agryblogs .link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}

.agryblogs .row.align-items-stretch [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.agryblogs .row.align-items-stretch [class*="col-"] .tour-item {
    flex-grow: 1;
}

/* Path: agriculture_frontend\src\styles\Home.css */